* {
  font-family: 'fira sans', sans-serif;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0 auto;
  background-color: rgba(50, 50, 50, 1);
}

button, input, textarea {
  color: black;
}