* {
  font-family: 'fira sans', sans-serif;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
}

body {
  margin: 0 auto;
  background-color: black;
}

button, input {
  color: black;
}

li {
  list-style: none;
}